<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Student Register !</title>
<div th:replace="shareLink.html"></div>
</head>
<body>
    <div th:replace="./layout/navbar"></div>
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-header text-center">
						<h2>Student Registration here !</h2>						
					</div>
					<div class="card-body">
						<form th:action="@{/saveStudent}" method="post">
							<div class="mb-1">
								<label for="exampleInputPassword1" class="form-label">Student Name </label>
								<input type="text" name="name" class="form-control"
									placeholder="Student Name " required="required">
							</div>
							<div class="container-fluid text-center">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div th:replace="./layout/footer"></div>
</body>
</html>