<style>
 ul li{
   list-style:none;
 }
</style>
<div id="footer" th:fragment="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h3>Our Link</h3>
				<ul>
					<li>Home</li>
					<li>About us</li>
					<li>Contact us</li>
					<li>Privacy</li>
				</ul>
			</div>
			<div class="col-md-4">
			<h3>Social Media</h3>
				<ul>
					<li>Facebook</li>
					<li>Twiter</li>
					<li>Instagram</li>
					<li>LinkedIn</li>
				</ul>
			</div>
			<div class="col-md-4">
			<h3>Google Map</h3>
			</div>
		</div>
	</div>
</div>